<div class="container">
  <h1>Nos actualités</h1>

     <div class="row g-3">
        <% @articles.each do |article| %>
          <div class="bloc-post col-12 col-lg-4">
              <div class="post-card <%= article.publish ? 'post-published' : 'post-unpublished' %>">
                <%= link_to article_path(article), class: "card-article-link" do %>
                  <div class="overflow-hidden"><%= cl_image_tag article.cover_image.key, class:"cover-image" if article.cover_image.attached?%></div>
                  <% if !article.publish? %>
                    <p class="card-article-publish-alert">Article non publié</p>
                  <% end %>
                  <div class="card-article-content">
                    <div class="card-article-category"><%= article.category %></div>
                    <h3 class="mt-5"><%= article.titre %></h3>
                    <p>Publié le <%= article.publication_date  %></p>
                    <p class="mb-3"><%= truncate(article.content.to_plain_text, length: 240, separator: ' ') %></p>
                    <%= render "shared/cta_secondary" %>
                  </div>
                <% end %>
              </div>

          </div>
        <% end %>
    </div>
    <% if user_signed_in? %>
      <%= link_to new_article_path, class:"btn btn-outline-primary border-radius-l" do%>
        Ajouter un nouvel article
      <% end%>
    <% end%>
</div>
