
  <div class="article-intro-section">
    <%= cl_image_tag @article.cover_image.key, class:"w-100 article-cover-img" if @article.cover_image.attached?%>
    <div class="article-titre">
      <div class="container">
        <h1><%= @article.titre %></h1>
      </div>
    </div>
  </div>

<div class="container">

  <div class="d-flex gap-3 align-items-center">
    <p>Publié le <%= @article.publication_date %></p>
    <p class="article-category"><%= @article.category %></p>
  </div>

  <p><%= @article.content %></p>

  <p><% @article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%end %>
  </p>

  <% if user_signed_in? %>
    <%= link_to "Modifier cet article", edit_article_path(@article), class:"btn btn-outline-primary border-radius-l" %>
    <%= link_to "Supprimer cet article", @article, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger border-radius-l"  %>
  <% end %>


</div>
