<div class="container">

  <h1><%= @article.titre %></h1>

  <p><%= @article.publication_date %></p>

  <p><%= @article.category %></p>

  <p><%= @article.content %></p>

  <% if policy(@article).edit? %>
    <%= link_to "Modifier cet article", edit_article_path(@article)%>
  <% end %>

  <%= link_to "Supprimer cet article", @article, method: :delete if policy(@article).destroy? %>

</div>
