
<div class="hero-section">
  <div class="hero-background">
    <div class="container">

      <div class="hero-text-section" data-controller="form">

        <h1>Nucléaire  Conception & Calculs</h1>
        <p>Forts de notre expertise en études mécaniques et thermiques, nous nous engageons à élaborer des solutions sur mesure, adaptées à vos besoins et à vos enjeux.</p>
        <h3>Flexibilité et qualité au service de la sûreté nucléaire</h3>
      </div>

    </div>

  <%# <div data-controller="grid" class="dot-canva-grid position-relative">
  <canvas data-grid-target="canvas" data-action="mousemove->grid#onMouseMove"></canvas>
    <div class="hero-infos">
      <div class="container">
        <div class="screws">

        </div>
        <div class="hero-text-section">
          <h3>NCC // Nucléaire  Conception & Calculs</h3>
          <h1>Flexibilité & Qualité</h1>
          <p>Flexibilité & Qualité au service de la Sûreté. Spécialisés dans les domaines de l'INDUSTRIE, de la RECHERCHE, de la PROGRAMMATION et de la QUALIFICATION.</p>
        </div>
      </div>
    </div>
 %>
</div>
  </div>
</div>
<div class="container">
          <p class="intro-txt">Installations neuves - Maintenance du Parc Nucléaire - Démantèlement</p>

</div>
<section class="splide-section">
  <div class="container">
    <h3 class="text-center">Ils nous font confiance</h3>
    <section data-controller="form" class="splide" aria-label="Splide logo partenaires">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663272/image_2_fs7vp9.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663272/image_5_vc4nzn.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663272/image_3_mkodzi.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663273/image_6_zfyk4y.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663273/image_8_czjevw.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1746391760/image_12_s9bvkf.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663273/image_9_skxehb.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663275/image_10_qkt2dg.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663275/image_11_q3pp0w.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663275/image_13_oeydix.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663275/image_14_jkbnzf.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663276/image_15_fdipat.png" alt="" class="w-100"></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663276/image_12_uzdugc.png" alt="" class="w-100" ></li>

          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663878/logo-clm_u5qobf.png" alt="" class="w-100" ></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1746391760/cropped-idcarre-v2-logo-01-Copie-2_mqypud_1_jazyzh.png" alt="" class="w-100" ></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744664032/logo-gettinge_1_pbaict.png" alt="" class="w-100" ></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663878/Logotype_Aergon_1023x768-768x209_xh5dnc.png" alt="" class="w-100" ></li>
          <li class="splide__slide"><img src="https://res.cloudinary.com/dic3crqze/image/upload/v1744663878/Peinta-logo-menu_fm2dlx.webp" alt="" class="w-100" ></li>


        </ul>
      </div>
    </section>
  </div>
</section>
<div class="blocs-expertise">
  <div class="container">

    <div class="bloc-expertise">
      <div class="row">

        <div class="bloc-expertise-image col-12 col-lg-6">
          <img class="bloc-expertise-image-bckgrnd" src="https://res.cloudinary.com/dic3crqze/image/upload/v1745354399/industrie_ytq8jl.jpg">
        </div>
        <div class="col-lg-1"></div>
        <div class="bloc-expertise-content col-12 col-lg-5">
          <h2>Industrie</h2>
          <p>Notre expertise en calculs thermiques, sismiques et autres domaines complexes assure des solutions de pointe pour les défis industriels les plus exigeants.
          <br/><br/>
          De la conception à la mise en œuvre, nous offrons une précision et une fiabilité inégalées pour optimiser les performances de vos installations et processus.</p>
          <%# <%= link_to "/expertises/industrie" do %>
            <%# <%= render "shared/cta_primary" %>
          <%# <% end %>
        </div>

      </div>
    </div>
    <div class="bloc-expertise">
      <div class="row">
        <div class="bloc-expertise-content col-12 col-lg-5 order-last order-lg-first">
          <h2>Programmation</h2>
          <p>Nous concevons des logiciels métier sur mesure pour fiabiliser vos résultats et optimiser vos processus.
          <br/><br/>
          Notre approche personnalisée assure une intégration fluide de la technologie dans vos opérations, offrant une efficacité accrue et une réduction des risques.</p>
          <%# <%= link_to "/expertises/programmation" do %>
            <%# <%= render "shared/cta_primary" %>
          <%# <% end %>        </div>
        <div class="col-lg-1"></div>
        <div class="bloc-expertise-image col-12 col-lg-6 order-first order-lg-last">
          <img class="bloc-expertise-image-bckgrnd" src="https://res.cloudinary.com/dic3crqze/image/upload/v1720165912/programmation-gradient_acucs8.png">
        </div>
      </div>
    </div>
    <div class="bloc-expertise">

      <div class="row">
        <div class="bloc-expertise-image col-12 col-lg-6">
          <img class="bloc-expertise-image-bckgrnd" src="https://res.cloudinary.com/dic3crqze/image/upload/v1720165913/qualificaztion-gradient_r9y4pn.png">

        </div>
        <div class="col-lg-1"></div>

        <div class="bloc-expertise-content col-12 col-lg-5">
          <h2>Recherche</h2>
          <p>À la pointe de l'innovation, nous développons et validons des modèles de calcul par éléments finis en corrélation avec des essais expérimentaux.
          <br/><br/>
          Que ce soit pour étudier les effets du séisme, les variations thermiques ou les impacts, notre équipe pluridisciplinaire garantit des solutions de recherche de pointe pour répondre aux questions les plus complexes.</p>
          <%# <%= link_to "/expertises/recherche" do %>
            <%# <%= render "shared/cta_primary" %>
          <%# <% end %>
        </div>
      </div>

    </div>
    <div class="bloc-expertise">
      <div class="row">
        <div class="bloc-expertise-content col-12 col-lg-5 order-last order-lg-first">
          <h2>Qualification</h2>
          <p>Nos études comparatives entre les essais réels et les modèles de calcul garantissent une validation rigoureuse de vos processus et de vos installations.
          <br/><br/>
          Nous fournissons une analyse détaillée pour garantir la conformité réglementaire et la sécurité de vos opérations.</p>
          <%# <%= link_to "/expertises/qualification" do %>
            <%# <%= render "shared/cta_primary" %>
          <%# <% end %>
        </div>
                <div class="col-lg-1"></div>

        <div class="bloc-expertise-image col-12 col-lg-6 order-first order-lg-last">
          <img class="bloc-expertise-image-bckgrnd" src="https://res.cloudinary.com/dic3crqze/image/upload/v1745355789/image001_5_1_flt4a4.jpg">
        </div>
            </div>
      </div>
  </div>
</div>
<div class="container">


  <div class="home-bloc-actualites">
    <h1>Nos dernières actualités :</h1>
    <div class="row gx-3">
        <% @articles.each do |article| %>
          <div class="bloc-post col-12 col-lg-4">
              <div class="post-card">
                <%= link_to article_path(article), class: "card-article-link" do %>
                  <div class="overflow-hidden"><%= cl_image_tag article.cover_image.key, class:"cover-image" if article.cover_image.attached?%></div>
                  <div class="card-article-content">
                    <div class="card-article-category"><%= article.category %></div>
                    <h3 class="mt-5"><%= article.titre %></h3>
                    <p>Publié le <%= article.publication_date  %></p>
                    <p class="mb-3"><%= truncate(article.content.to_plain_text, length: 240, separator: ' ') %></p>
                    <%= render "shared/cta_secondary" %>
                  </div>
                <% end %>
              </div>

          </div>
        <% end %>
    </div>
  </div>


</div>
