<div class="container">
  <h1>Contactez-nous</h1>
  <div class="global-form" data-controller="form">
    <%= simple_form_for @contact do |f| %>
      <div class="form-inputs mt-4">
        <div class="col-8 col-lg-6">
          <%= f.input :name,
                  required: true,
                  label:"Votre Nom",
                  autofocus: true,
                  error: "Veuillez remplir ce champ" %>
          <%= f.input :email,
                  required: true,
                  label:"Votre Email",
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  error: "Veuillez vérifier votre email" %>
        </div>
        <div class="col-10">
          <%= f.input :message,
                  :as => :text,
                  :input_html => { 'rows' => 10},
                  required: true,
                  autofocus: true,
                  error: "Veuillez renseigner un message s'il vous plait" %>
          <div class= "d-none">
            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
          </div>
        </div>
          <%= recaptcha_tags %>
          <%= f.submit 'Envoyer le message',
          class: 'btn ncc-cta mt-3' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
